.page-content {
    background: #f6f6f0;
    color: #000000;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    flex: 1 0 auto;
}

.section-row-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -16px;
}

.section-row-list-item {
    padding: 16px;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: url("/img/background.jpg");
}

.latest-section {
    /*background: green;*/
}

.content-section {
    text-align: left;
}

.double-sided {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 64px;
}

.double-sided p {
    text-indent: 0;
    width: 100%;
    height: max-content;
}
