.page-footer {
    box-sizing: border-box;
}

.footer-top {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
}

.footer-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-list-item {
    padding: 16px;
}

.footer-sublist-header {
    font-weight: bold;
    opacity: 0.8;
}

.footer-sublist {
    margin-top: 16px;
}

.footer-sublist-item {
    margin-top: 8px;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 16px;
}

.footer-contacts {
    flex: 1 1 0;
}

.footer-contacts-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin-left: -8px;
}

.footer-contacts-list-item {
    border-width: 0;
    background: transparent;
}

.footer-locale {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-additional {
    margin-top: 8px;
    flex: 1 1 100%;
    font-size: 14px;
}

.footer-author {
    margin-top: 16px;
    flex: 1 1 auto;
    font-family: "SF Pro Display", sans-serif;
    font-weight: lighter;
    letter-spacing: 0.045em;
    font-size: 14px;
}

.footer-meta {
    margin-top: 16px;
    flex: 0 0 auto;
    font-family: "SF Pro Display", sans-serif;
    font-weight: lighter;
    letter-spacing: 0.045em;
    font-size: 14px;
}
