.profile,
.posts {
    min-width: 800px;
    width: 50%;
    max-width: 50%;
    box-sizing: border-box;
    margin: 0 auto;
}

.profile {
    padding: 32px 0 16px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 32px;
}

.pictureWrapper {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.profilePicture {
    width: 256px;
    height: 256px;
    border-radius: 16px;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
    overflow: clip;
    overflow-clip-margin: border-box;
}

.buttons {
    width: 100%;
}

.button,
.redButton {
    width: 100%;
    margin: 8px 0;
    border: none;
    padding: 4px 12px;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.3s;
}

.button {
    background: #ededee;
    color: green;
}

.button:hover {
    background: green;
    color: white;
}

.redButton {
    background: #ededee;
    color: red;
}

.redButton:hover {
    background: red;
    color: white;
}

.primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid black;
}

.username {
    font-size: 18pt;
    text-align: left;
    font-weight: bold;
}

.lastLogin {
    text-align: right;
    opacity: 0.7;
    font-size: 10pt;
}

.secondary {
    width: 100%;
    border-spacing: 0 8px;
}

.secondary th {
    text-align: left;
    padding-right: 16px;
}

.website {
    color: green;
}

.website:hover {
    opacity: 0.6;
}

.posts {
    padding: 16px 0;
}

.about {
    font-size: 12pt;
}
