form {
    display: grid;
    width: 300px;
    margin: 0 auto;
}

input, textarea {
    margin: 0;
    padding: 0;
}

.field-input {
    padding: 4px;
    margin: 8px;
    border: 1px solid black;
    border-radius: 7px;
    outline: none;
    box-sizing: border-box;
    width: 300px;
    font-family: "SF Pro Display", sans-serif;
    font-size: 16px;
}

textarea {
    overflow: hidden;
    resize: none;
}

.form-button {
    padding: 4px;
    margin: 8px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    transition: 0.1s;
}

.form-button:hover {
    background: green;
    color: white;
}

.form-errors {
    color: #d92c4d;
}
