.field {
    display: table;
    width: 100%;
}

.errors {
    list-style: '- ';
    margin: 0 16px;
    color: red;
}

.errors li::selection {
    background: red;
    color: white;
}

.input {
    display: table-cell;
    vertical-align: middle;
    padding: 4px;
    margin: 8px 0;
    border: none;
    background: #ededee;
    border-radius: 8px;
    outline: none;
    box-sizing: border-box;
    width: 100%;
}

.datalist {
    display: none;
    margin-top: -8px;
    background: #ededee;
    border-radius: 0 0 7px 7px;
    border-top: none;
    box-sizing: border-box;
    padding: 4px 0;
    max-height: 10rem;
    overflow-y: auto
}

.datalist option {
    padding: 4px;
    color: black;
    margin-bottom: 1px;
    cursor: pointer;
}

.datalist option:hover {
    background-color: green;
    color: white;
}

.select {
    display: table-cell;
    width: 100%;
    background: #ededee;
    color: green;
    cursor: pointer;
    padding: 4px 6px;
    border: none;
    border-radius: 32px;
    outline: none;
    box-sizing: border-box;
    transition: 0.3s;
}

.select:hover {
    background-color: green;
    color: white;
}

.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.category {
    margin: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: max-content;
    align-items: center;
    background: #ededee;
    color: green;
    padding: 4px 12px;
    border-radius: 24px;
}
