*/.idea/
**.env

/backend/venv/
/backend/**/__pycache__/
/backend/tex/
**/migrations/

/frontend/node_modules/
/frontend/.next/
/frontend/package-lock.json

/nginx/static/
/nginx/media/
/nginx/db/
/nginx/certbot/conf/accounts/
/nginx/certbot/conf/renewal/
/nginx/certbot/conf/renewal-hooks/
/nginx/certbot/conf/live/opensourceblog.ru/
