*/.idea/
**.env

/django/venv/
/django/**/__pycache__/
**/migrations/
**.sqlite3

/next/node_modules/
/next/.next/
/next/package-lock.json
/next/public/static/
/next/public/media/

/postgres/db/

/nginx/certbot/conf/accounts/
/nginx/certbot/conf/renewal/
/nginx/certbot/conf/renewal-hooks/
/nginx/certbot/conf/live/opensourceblog.ru/
