.home {
    color: black;
    background: white;
}

.section {
    padding: 5% 10%;
}

.welcome {
    padding: 5% 10%;
    color: white;
    background: url('/img/background.jpg');
}

.sectionHeader {
    font-size: 36px;
    padding-bottom: 32px;
}

.sectionContent {
    font-size: 24px;
}

.section-row-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -16px;
}

.section-row-list-item {
    padding: 16px;
}

.content-section {
    text-align: left;
}

.doubleSided {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

@media (max-width: 700px) {
    .doubleSided {
        grid-template-columns: 1fr;
    }
}

.doubleSided p {
    font-size: 16pt;
    font-family: 'CMU Serif', serif;
    text-indent: 0;
    height: max-content;
}

.topics {
    padding: 5% 10%;
    color: black;
}

.topics ul {
    margin-left: 12px;
    list-style-type: "- ";
}

.topics ul li {
    font-size: 14pt;
    padding: 4px 0;
}
