.section,
.welcome {
    padding: 64px 256px;
}

.welcome {
    color: white;
    background: url('/img/background.jpg');
}

.sectionHeader {
    font-size: 36px;
    padding-bottom: 32px;
}

.sectionContent {
    font-size: 24px;
}

.doubleSided {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.doubleSided p {
    text-indent: 0;
    font-size: 16pt;
    height: max-content;
}

.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px 8px;
    padding: 8px 0;
}

.category {
    background: green;
    color: white;
    padding: 4px 12px;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.3s;
}

.category:hover {
    background: #ededee;
    color: green;
    transition: 0.3s;
}

@media (max-width: 1400px) {
    .section,
    .welcome {
        padding: 64px 128px;
    }
}

@media (max-width: 900px) {
    .section,
    .welcome {
        padding: 32px;
    }

    .doubleSided {
        grid-template-columns: 1fr;
    }
}
