.publisher, .superuser {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    gap: 8px;
}

.superuser {
    color: red;
}

.superuser img {
    border: 2px solid red;
    overflow-clip-margin: content-box;
}

.picture {
    border-radius: 32px;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
    overflow: clip;
    overflow-clip-margin: border-box;
}
