.reply {

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 8px;
}

.date {
    text-align: right;
    font-size: 10pt;
    opacity: 0.6;
}

.content {
    padding: 8px 0;
    font-family: 'CMU Serif', serif;
    font-size: 14pt;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.repliesCount {
    color: black;
    opacity: 0.6;
}

.replies {
    margin-left: 4px;
    padding-left: 12px;
    border-left: 1px solid #bfbfbf;
}

.form {
    color: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    gap: 16px;
    width: 100%;
    margin-left: -4px;
}

.button {
    color: green;
    background: #ededee;
    padding: 5px;
    margin-right: -8px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    transition: 0.1s;
}

.button:hover {
    background: green;
    color: white;
}
