header {
    position: relative;
    z-index: 1080;
    width: 100%;
    /*margin: 0 auto;*/
    background: #272822;
}

.active {
    cursor: pointer;
}

.inactive {
    pointer-events: none;
    user-select: none;
    opacity: 1 !important;
}

.header-inner {
    display: flex;
    flex-direction: row;
    width: 100%;
    /*flex-wrap: wrap;*/
    align-content: normal;
    justify-content: center;
    align-items: center;
    min-width: max-content;
}

.site-logo {
    display: table;
    opacity: 1;
    width: 56px;
    height: 56px;
    text-align: center;

    background: green;

    font-weight: bold;
    font-size: 24px;
}

.site-logo h1 {
    display: table-cell;
    vertical-align: middle;

    margin: auto;
}

.menu-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
}

.main-menu ul {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    align-items: stretch;
    max-width: 100%;
}

.menu-button {
    display: none;
}

@media (max-width: 300px) {
    .main-menu {
        display: none;
    }

    .additional-menu {
        display: block !important;
    }

    .menu-button {
        display: block;
    }
}

.main-menu-link-wrapper {
    display: table;
}

.main-menu-link {
    display: table-cell;
    vertical-align: middle;

    margin: 0;
    padding: 0 16px;
    border: none;
    outline: transparent;
    white-space: nowrap;
    background: none;
    opacity: 0.6;
    transition: opacity 0.1s;
}

.main-menu-link:hover {
    opacity: 1;
}

.additional-menu {
    display: none;
    flex-direction: row;
    flex-basis: auto;
    align-items: stretch;
    max-width: 100%;
    padding-left: 8px;
    opacity: 0.6;
    transition: opacity 0.1s;
}

.additional-menu svg {
    cursor: pointer;
}

.additional-menu:hover {
    opacity: 1;
}

.additional-menu ul {
    top: 56px;
    left: calc(50% - 5px);
    background: #272822;
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.additional-menu ul li {
    padding: 8px 0;
}

.additional-menu-button-wrapper {
    display: block;
}
