.postPage {
    background: white;
    color: black;
}

.content {
    /*
     top: 1.5cm
     bottom: 2cm
     left: 3cm
     right: 1cm
     */
    /*padding: 1.5em 1em 2em 3em;*/
    padding: 5% 25% 5% 25%;
}

.content p {
    text-indent: 12.5mm;
    line-height: 1.5;
    word-wrap: break-word;
    font-family: 'CMU Serif', serif;
    font-size: 14pt;
}
