.main {
    color: black;
    background: white;
}

.section {
    color: black;
    background: white;
    margin: 5% 25%;
}

.sectionHeader {
    font-size: 36px;
    padding-bottom: 32px;
}

.postListItem {
    padding: 16px 0;
    margin: 16px 0;
}

.postHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
}

.postPublisher {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.publisherPicture {
    border-radius: 24px;
    margin: auto 0;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
    overflow: clip;
    overflow-clip-margin: border-box;
}

.postTitle {
    color: black;
    font-size: 16pt;
    width: max-content;
}

.postDate {
    text-align: right;
    font-size: 10pt;
    opacity: 0.6;
}

.postCategories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px 0;
}

.postCategory {
    background: green;
    color: white;
    padding: 4px 12px;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.3s;
}

.postCategory:hover {
    background: #ededee;
    color: green;
    transition: 0.3s;
}

.postContent {
    padding: 8px 0;
    font-family: 'CMU Serif', serif;
    font-size: 14pt;
}

.postMeta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.postNegative {
    color: red;
}

.postPositive {
    color: green;
}

.comments {
    color: black;
    font-size: 10pt;
    opacity: 0.5;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
