.footer {
    position: page;
    bottom: 0;
    left: 0;
    background: #272822;
    box-sizing: border-box;
    height: max-content;
}

.inner {
    padding: 32px 512px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

.contacts ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -8px;
}

.contacts ul li {
    border-width: 0;
    background: transparent;
}

.locale {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.locale span {
    gap: 4px;
}

.additional {
    margin-top: 8px;
    font-size: 14px;
}

.meta {
    margin-top: 16px;
    font-weight: lighter;
    letter-spacing: 0.045em;
    font-size: 14px;
}

.link {
    color: white;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.1s;
}

.link:hover {
    opacity: 1;
}

.ellipticButton {
    padding: 8px;
    border-width: 0;
    border-radius: 24px;
    background: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity, background 0.1s;
}

.ellipticButton:hover {
    background: rgba(127, 127, 127, 0.2);
    opacity: 1;
}

@media (max-width: 1500px) {
    .inner {
        padding: 32px 384px;
    }
}

@media (max-width: 800px) {
    .inner {
        padding: 32px 16px;
    }
}
